<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login to Spotify account</title>
    <link
      href="https://fonts.googleapis.com/css?family=Noto Sans Thai"
      rel="stylesheet"
    />
    <!-- <style>
      {{ css }}
    </style> -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Welcome to the Spotify Integration App</h1>
    <a class="login-button" href="{{ url_for('login') }}">
      <div
        style="
          justify-content: center;
          display: flex;
          flex-direction: column;
          color: white;
          font-size: 36px;
          font-family: Noto Sans Thai;
          font-weight: 700;
          letter-spacing: 0.36px;
          word-wrap: break-word;
        "
      >
        Log in to your spotify account 🎧
      </div>

      <!-- <button>Login with Spotify</button> -->
    </a>
  </body>
</html>
